.module {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.module :global(.logo) {
  height: 22px;
  width: 89px;
}

/* Navigation */
.module :global(.navigation) {
  display: flex;
  column-gap: 1rem;
  margin-inline-start: auto;
  align-items: center;
}
.module :global(.mob-navigation) {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  margin-block: auto;
  row-gap: 1rem;
}

.module :global(.nav-link),
.module :global(.nav-lang) {
  color: var(--primary-color);
  font-size: 1em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.module :global(.nav-link) {
  padding: 0.5rem;
}

.module :global(.nav-link):hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Select languages */
.module :global(.languages) {
  width: calc(2.5rem * 2);
  display: flex;
  column-gap: 0.5rem;
  position: relative;
}

.module :global(.selected-lang) {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 0.3s cubic-bezier(0, 0.86, 0.55, 1.02);
  z-index: -1;
}

.module :global(.nav-lang) {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--primary-color);
}
.module :global(.nav-lang.active) {
  color: var(--secondary-color);
}

.module :global(.nav-lang:nth-of-type(1).active ~ .selected-lang) {
  transform: translate(-2px, -50%);
}
.module :global(.nav-lang:nth-of-type(2).active ~ .selected-lang) {
  transform: translate(calc(100% + 1px), -50%);
}

/* Mobile navigation button */
.module :global(.nav-mob-btn) {
  height: 2rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.module :global(.nav-mob-btn svg) {
  height: 13px;
  width: 17px;
  fill: none;
  transform: scale(1.5);
}
.module :global(.nav-mob-btn svg path) {
  stroke: var(--primary-color);
}
