.module {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.module :global(.logo) {
  height: 22px;
  width: 89px;
}

@media screen and (max-width: 960px) {
  .module {
    column-gap: 0.5rem;
  }
}
