.module {
  --size: 1.9rem;
  width: calc(var(--size) * 1.2);
  height: calc(var(--size) * 1.2);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.theme_switcher {
  width: calc(var(--size) / 1.7);
  height: calc(var(--size) / 1.7);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.theme_switcher::after {
  content: '';
  width: calc(var(--size) / 1.5);
  height: calc(var(--size) / 1.5);
  position: absolute;
  top: calc(-1 * var(--size) / 4);
  right: calc(-1 * var(--size) / 4);
  background-color: var(--bg);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

html[data-theme='light'] .theme_switcher {
  transform: translate(-50%, -50%) rotate(-55deg);
  box-shadow: 14px 0 0 -6.5px var(--primary-color),
    -14px 0 0 -6.5px var(--primary-color), 0 14px 0 -6.5px var(--primary-color),
    0 -14px 0 -6.5px var(--primary-color),
    10px 10px 0 -6.5px var(--primary-color),
    -10px -10px 0 -6.5px var(--primary-color),
    -10px 10px 0 -6.5px var(--primary-color),
    10px -10px 0 -6.5px var(--primary-color);
}

html[data-theme='dark'] .theme_switcher {
  transform: translate(-50%, -50%) rotate(0);
  box-shadow: 0px 0 0 -0px var(--primary-color),
    -0px 0 0 -0px var(--primary-color), 0 0px 0 -0px var(--primary-color),
    0 -0px 0 -0px var(--primary-color), 0px 0px 0 -0px var(--primary-color),
    -0px -0px 0 -0px var(--primary-color), -0px 0px 0 -0px var(--primary-color),
    0px -0px 0 -0px var(--primary-color);
}

html[data-theme='light'] .theme_switcher::after {
  transform: translateX(100px);
}
html[data-theme='dark'] .theme_switcher::after {
  transform: translateX(0);
}

@media screen and (max-width: 960px) {
  .module {
    --size: 1.3rem;
    width: calc(var(--size) * 1.4);
    height: calc(var(--size) * 1.4);
  }
  .theme_switcher {
    width: calc(var(--size) / 1.5);
    height: calc(var(--size) / 1.5);
  }
  html[data-theme='light'] .theme_switcher {
    box-shadow: 11px 0 0 -5.5px var(--primary-color),
      -11px 0 0 -5.5px var(--primary-color),
      0 11px 0 -5.5px var(--primary-color),
      0 -11px 0 -5.5px var(--primary-color),
      7.5px 7.5px 0 -5.5px var(--primary-color),
      -7.5px -7.5px 0 -5.5px var(--primary-color),
      -7.5px 7.5px 0 -5.5px var(--primary-color),
      7.5px -7.5px 0 -5.5px var(--primary-color);
  }
}
