.module {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: var(--secondary-color);
  z-index: 9999;
}
.module.open {
  display: flex;
}

.module :global(.close-btn) {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.module :global(.close-btn svg) {
  width: 13px;
  height: 13px;
  fill: none;
  transform: scale(1.5);
}
.module :global(.close-btn svg path) {
  stroke: var(--primary-color);
}
