/* Select languages */
.module {
  --size: 2.5rem;
  width: calc(var(--size) * 2);
  display: flex;
  column-gap: 0.5rem;
  position: relative;
  isolation: isolate;
}

.module :global(.selected-lang) {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 0.3s cubic-bezier(0, 0.86, 0.55, 1.02);
  z-index: -1;
}

.module :global(.nav-lang) {
  width: var(--size);
  height: var(--size);
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 1em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.module :global(.nav-lang.active) {
  color: var(--bg);
  transition: all 0.3s ease-in-out;
}

.module :global(.nav-lang:nth-of-type(1).active ~ .selected-lang) {
  transform: translate(-2px, -50%);
}
.module :global(.nav-lang:nth-of-type(2).active ~ .selected-lang) {
  transform: translate(calc(100% + 1px), -50%);
}

@media screen and (max-width: 960px) {
  .module {
    --size: 1.8rem;
    width: calc(var(--size) * 2);
    column-gap: 0.5rem;
  }
  .module :global(.selected-lang) {
    width: var(--size);
    height: var(--size);
  }
  .module :global(.nav-lang) {
    width: var(--size);
    height: var(--size);
    font-size: 0.8em;
  }
}
