#projects,
#services,
#about {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-title,
.section-title {
  color: var(--title);
  text-transform: uppercase;
  line-height: 1.1;
}
.main-title {
  font-size: clamp(2.5em, 5vw, 6em);
  word-spacing: 999px;
}
.section-title {
  font-size: clamp(2em, 4vw, 4em);
  text-align: center;
}

.description-main,
.description-section {
  /* max-width: 800px; */
  color: var(--description);
  font-size: clamp(1.175em, 1.8vw, 1.5em);
  line-height: 1.3;
}
.description-main {
  text-align: left;
}
.description-section {
  margin-block-start: 2rem;
  text-align: left;
}

.h2-title {
  color: var(--title);
  font-size: clamp(1.5em, 4vw, 2em);
  line-height: 1.05;
  letter-spacing: 0.5px;
  text-align: center;
}

.paragraph {
  color: var(--description);
  font-size: 1.125em;
  line-height: 1.4;
}
.align-center {
  margin-inline: auto;
  text-align: center;
}
/* buttons styles*/
.button,
.button-with-icon {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-block: clamp(0.9rem, 2vw, 1rem);
  position: relative;
  overflow: hidden;
  background: transparent;
  border-radius: clamp(4px, 2vw, 10px);
  font-size: clamp(0.9rem, 2vw, 1.4rem);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  line-height: 15px;
  white-space: nowrap;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 5;
}
.button-with-icon {
  grid-template-columns: max-content max-content;
  column-gap: 0.8rem;
}
.button.fit,
.button-with-icon.fit {
  width: fit-content;
}
.button.extend,
.button-with-icon.extend {
  width: 100%;
}
.button:where(.fill, .line, .disable),
.button-with-icon:where(.fill, .line, .disable) {
  padding-inline: clamp(1rem, 2vw, 2rem);
}
.button.fill,
.button-with-icon.fill {
  color: var(--btn-txt-fill);
  background: var(--btn-fill);
  box-shadow: 0 10px 15px var(--btn-fill-shadow-darken),
    0 30px 30px var(--btn-fill-shadow-lighten);
}
.button.fill:hover,
.button-with-icon.fill:hover {
  background: var(--primary-color);
  box-shadow: none;
}
.button-with-icon.fill svg {
  fill: var(--btn-txt-fill);
  transition: all 0.3s ease-in-out;
}
.button.line,
.button-with-icon.line {
  color: var(--btn-txt-line);
  border-color: 11px;
  border: 2px solid var(--btn-txt-line);
}
.button.line:hover,
.button-with-icon.line:hover {
  border-color: var(--description);
  box-shadow: none;
}
.button.link-icon {
  grid-template-columns: max-content 30px;
  justify-items: flex-end;
}
.button.disable,
.button-with-icon.disable {
  background-color: var(--btn-disable);
  color: var(--btn-txt-disable);
}
.btn-icon {
  grid-column: 2;
  position: relative;
}
.btn-icon.normal {
  width: clamp(0.8rem, 2vw, 1.2rem);
  height: clamp(0.8rem, 2vw, 1.2rem);
}
.btn-icon.wide {
  width: clamp(0.8rem, 2vw, 1.2rem);
  width: clamp(1.1rem, 2vw, 1.5rem);
}
.btn-icon .switch-fill {
  fill: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

/* Modal base */
.modal {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  border: none;
  background-color: var(--bg);
  box-shadow: 0 0 0 100vw rgba(0 0 0 / 0.5);
  z-index: 9999;
}
.modal[open] {
  display: flex;
  animation: fade-in 0.3s cubic-bezier(0, 1.1, 0.5, 1) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal .close-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}
.modal .close-btn svg {
  width: 13px;
  height: 13px;
  fill: none;
  transform: scale(1.5);
}
.modal .close-btn svg path {
  stroke: var(--primary-color);
}

@media screen and (max-width: 960px) {
  .modal .close-btn {
    border-radius: 0.5rem;
    background-color: var(--close-btn-bg);
  }
}
