@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
:root {
  --green: #225504;
  --red: #c00225;
}

html[data-theme='light'] {
  --bg: #929ea5;
  --primary-color: #060d0c;
  --secondary-color: #c1ced1;

  --btn-fill: #182825;
  --btn-txt-fill: #c1ced1;
  --btn-fill-shadow-darken: rgba(24, 40, 37, 0.3);
  --btn-fill-shadow-lighten: rgba(24, 40, 37, 0.2);

  --btn-line: #182825;
  --btn-txt-line: #2f383a;

  --project-active: #c1ced1;
  --project-finished: #9ca8b0;
  --project-txt-color: #060d0c;
  /* --project-active-shadow-darken: rgba(121, 128, 129, 0.2);
  --project-active-shadow-lighten: rgba(121, 128, 129, 0.1); */
  /* --project: #182825; */
  --project-hover: #060d0c;
  --label: #5a626d;
}
html[data-theme='dark'] {
  --bg: #060d0c;
  --primary-color: #929ea5;
  --secondary-color: #c1ced1;

  --btn-fill: #c1ced1;
  --btn-txt-fill: #182825;
  --btn-fill-shadow-darken: rgba(193, 206, 209, 0.2);
  --btn-fill-shadow-lighten: rgba(193, 206, 209, 0.1);

  --btn-line: #929ea5;
  --btn-txt-line: #929ea5;

  --project-active: #1e2122;
  --project-finished: #131517;
  --project-txt-color: #060d0c;
  /* --project-active-shadow-darken: rgba(193, 206, 209, 0.2);
  --project-active-shadow-lighten: rgba(193, 206, 209, 0.1); */
  /* --project: #1b1f1e; */
  --project-hover: #ccdcdf;
  --label: #696969;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}
html {
  transition: all 0.2s ease-in-out;
}
html,
body,
#__next {
  min-height: 100%;
  position: relative;
}
body {
  max-width: 1920px;
  padding: 1.5rem 2.5rem 0rem;
  margin: 0 auto;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
a,
li,
p,
span,
button,
label,
div,
time {
  font-family: 'Roboto';
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
li,
button {
  font-weight: bold;
}

p,
span {
  color: var(--primary-color);
}

main {
  width: 100%;
  display: flex;
  flex-flow: column;
  row-gap: 10rem;
  margin-inline: auto;
  position: relative;
}

@media (max-width: 960px) {
  body {
    padding: 1rem;
  }
  main {
    margin-block-start: 5rem;
  }
}

@import url('./common.css');
