@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
:root {
  --green: #225504;
  --red: #c00225;
}

html[data-theme='light'] {
  --bg: rgb(168, 185, 194);
  --primary-color: rgb(6, 14, 13);

  --title: rgb(0, 0, 0);
  --description: rgb(40, 44, 46);

  --btn-fill: rgb(24, 40, 37);
  --btn-txt-fill: rgb(193, 206, 209);
  --btn-fill-shadow-darken: rgba(24, 40, 37, 0.3);
  --btn-fill-shadow-lighten: rgba(24, 40, 37, 0.2);

  --btn-line: rgb(24, 40, 37);
  --btn-txt-line: rgb(47, 56, 58);

  --btn-disable: rgb(193, 206, 209);
  --btn-txt-disable: rgb(90, 98, 109);

  --close-btn-bg: rgba(146, 158, 165, 0.7);

  --project-active: rgb(184, 202, 206);
  --project-finished: rgb(176, 191, 201);
  --project-txt-color: rgb(6, 13, 12);
  --project-hover: rgb(6, 13, 12);
  --label: rgb(90, 98, 109);

  --svg: rgb(83, 93, 107);

  --btn-fill-shadow-darken: hsla(191, 10%, 60%, 0.3);
  --btn-fill-shadow-lighten: hsla(191, 10%, 60%, 0.2);
}
html[data-theme='dark'] {
  --bg: rgb(26, 30, 30);
  --primary-color: rgb(169, 184, 192);

  --title: rgb(187, 202, 210);
  --description: rgb(156, 170, 176);

  --btn-fill: rgb(193, 206, 209);
  --btn-txt-fill: rgb(24, 40, 37);
  --btn-fill-shadow-darken: rgba(193, 206, 209, 0.2);
  --btn-fill-shadow-lighten: rgba(193, 206, 209, 0.1);

  --btn-line: rgb(146, 158, 165);
  --btn-txt-line: rgb(146, 158, 165);

  --btn-disable: rgb(24, 40, 37);
  --btn-txt-disable: rgb(105, 105, 105);

  --close-btn-bg: rgba(24, 40, 37, 0.7);

  --project-active: rgb(37, 41, 42);
  --project-finished: rgb(30, 33, 34);
  --project-txt-color: rgb(6, 13, 12);
  --project-hover: rgb(204, 220, 223);
  --label: rgb(105, 105, 105);
  --svg: rgb(83, 93, 107);

  --btn-fill-shadow-darken: rgba(0, 0, 0, 0.5);
  --btn-fill-shadow-lighten: rgba(0, 0, 0, 0.3);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}
html {
  transition: all 0.2s ease-in-out;
}
html,
body,
#__next {
  /* min-height: 100%; */
  position: relative;
}
body {
  max-width: 1920px;
  padding: 1.5rem 2.5rem 0rem;
  margin: 0 auto;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
a,
li,
p,
span,
button,
label,
div,
time {
  font-family: 'Roboto';
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
li,
button {
  font-weight: bold;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column;
  row-gap: 10rem;
  margin-inline: auto;
  position: relative;
}

@media (max-width: 960px) {
  body {
    padding: 1rem 1rem 0;
  }
  main {
    margin-block-start: 5rem;
  }
}

@import url('./common.css');
