.illustration {
  width: clamp(200px, 50vw, 650px);
  height: clamp(200px, 50vw, 663px);
  position: relative;
  margin-inline: auto;
}
.illustration img {
  animation: illustration 10s infinite;
}
.illustration span {
  overflow: unset !important;
}

/* illustrations */
.riofor,
.houses {
  position: absolute;
  background-color: var(--svg);
  opacity: 0.5;
  animation: shadow 10s infinite;
  box-shadow: 0 0 50px var(--svg);
  z-index: -1;
}

.riofor {
  width: 60%;
  aspect-ratio: 1.1 / 1;
  bottom: 10px;
  left: 50%;
}
.houses {
  width: 65%;
  aspect-ratio: 1.4 / 1;
  bottom: 80px;
  left: 48%;
}

@keyframes illustration {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -20px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shadow {
  0% {
    transform: rotateZ(-45deg) skew(15deg, 15deg) translate(-40%, -18%) scale(1);
  }
  50% {
    transform: rotateZ(-45deg) skew(15deg, 15deg) translate(-40%, -18%)
      scale(0.9);
  }
  100% {
    transform: rotateZ(-45deg) skew(15deg, 15deg) translate(-40%, -18%) scale(1);
  }
}

@media screen and (max-width: 960px) {
  .illustration {
    width: clamp(300px, 60vw, 650px);
    height: clamp(300px, 60vw, 663px);
    order: 1;
  }
  .houses {
    bottom: 40px;
  }
}
